<div class="container">
  <app-navbar title="Table List"></app-navbar>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="material-icons">assignment</i>
        </div>
       
        <div class="card-content">
          <div>
          <h4 class="card-title">Add User</h4>
          <div class="adduser">
              <button  mat-raised-button (click)="openDialog()">Add User</button>
            </div>
          
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
                <tr>
                  <th>Email</th>
                  <th>Password</th>
                  <th>Role</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr  *ngFor="let user of users;let i=index">
                  <td>{{user.email}}</td>
                  <td>{{user.password}}</td>
                  <td>{{user.role}}</td>
                  <td>
                    <!-- <button  mat-raised-button (click)="edit(user,user.id,i)">edit</button> -->
                  <button  mat-raised-button (click)="edit(user,user._id)"><mat-icon>create</mat-icon></button>
                  <button  mat-raised-button (click)="delete(user,user._id)"><mat-icon>delete</mat-icon></button>
                </td>
                </tr>
           
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
 
</div>
