<div class="body">

        <mat-card class="forgot-password">
                <mat-card-title>Forgot Password</mat-card-title>
                <mat-card-subtitle>Password reset link will be send to your email</mat-card-subtitle>
                <mat-form-field>
                        <input matInput type="email" [(ngModel)]="email" placeholder="Enter the email">
                    </mat-form-field>
                    <div mat-dialog-actions>
                            <button mat-raised-button color="primary" (click)="forgotpassword(email)">Send</button>
                     
                        </div>
        </mat-card>

</div> 